@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0c0a09; /* Cor de fallback */
  background-image: radial-gradient(at 27% 37%, hsla(215, 98%, 41%, 0.1) 0px, transparent 50%),
    radial-gradient(at 97% 21%, hsla(125, 98%, 41%, 0.1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(355, 98%, 41%, 0.1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 41%, 0.1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 41%, 0.1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 41%, 0.1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 41%, 0.1) 0px, transparent 50%);
  color: #f2f2f2;
}